@model AnimalProfileResponse

<link rel="stylesheet" href="~/css/DetailsViewStyles.css" />
<form method="post">
	<div class="details-content">
		<div class="left-side">
			<img class="animal-image" src="@Model.ImageUrl">
		</div>
		<div class="right-side">
			<h1 class="details-name">
				@Model.Name
			</h1>
			<h2 class="details-age-breed">
				@Model.Age, @Model.Breed
			</h2>

			<p class="details-description">
				@Model.Description
			</p>

			<button type="submit" asp-controller="Animal" asp-action="Adopt" class="adopt-button">
				Adopt!
			</button>

			<input type="hidden" name="id" value="@Model.Id" />
		</div>
	</div>
</form>