@model AnimalProfileResponse

@{
	ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="~/css/EditViewStyles.css" />

<form asp-controller="Animal" asp-action="Edit" method="post">
	<div class="edit-form">
		<h1 class="edit-form-heading">
			Edit
		</h1>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Name">Name</label>
			</div>
			<div>
				<input class="input-name" value="@Model.Name" asp-for="Name" placeholder="Animal name" /><br />
				<span class="red-text" asp-validation-for="Name"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Age">Age</label>
			</div>
			<div>
				<input class="input-age" value="@Model.Age" asp-for="Age" placeholder="Animal age" /><br />
				<span class="red-text" asp-validation-for="Age"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Breed">Breed</label>
			</div>
			<div>
				<input class="input-breed" value="@Model.Breed" asp-for="Breed" placeholder="Breed" /><br />
				<span class="red-text" asp-validation-for="Breed"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="ImageUrl">Image url</label>
			</div>
			<div>
				<input class="input-image-url" value="@Model.ImageUrl" asp-for="ImageUrl" placeholder="Image url" /><br />
				<span class="red-text" asp-validation-for="ImageUrl"></span>
			</div>
		</div>

		<div class="input-area">
			<div class="label-area">
				<label asp-for="Description">Description</label>
			</div>
			<div>
				<textarea class="input-description" value="@Model.Description" maxlength="1500" asp-for="Description" placeholder="Description">
				</textarea> <br />
				<span class="red-text" asp-validation-for="Description"></span>
			</div>
		</div>

		<input type="hidden" name="Id" value="@Model.Id">

		<button class="submit-btn" type="submit">
			Edit!
		</button>

	</div>
</form>


@section scripts
	{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
	}