@{
	ViewBag.Title = "Feed";
}

@model List<AnimalProfileResponse>

<link rel="stylesheet" href="~/css/FeedViewStyles.css" />
@foreach (var item in Model)
{
	<form asp-controller="Animal" asp-action="Details" asp-route-id="@item.Id" method="get">
		<div class="feed-container">
			<div class="container-content">
				<div class="text-side">
					<h1 class="animal-name">
						@item.Name,
					</h1>
					<h2 class="animal-age">
						@item.Age
					</h2>
					@if (item.Description?.Length > 200)
					{
						<p class="animal-description">
							@item.Description.Substring(0, 200)..
						</p>
					}
					else
					{
						<p class="animal-description">
							@item.Description
						</p>
					}
					<button type="submit">More..</button>
				</div>
				<div class="image-side">
					<img class="animal-image" src="@item.ImageUrl">
				</div>
			</div>
		</div>

	</form>
}