@{
	ViewBag.Title = "Feed";
}

@model IPagedList<AnimalProfileResponse>

<link rel="stylesheet" href="~/css/FeedViewStyles.css" />
<script src="https://kit.fontawesome.com/7e8bad01d9.js" crossorigin="anonymous"></script>

<form asp-controller="Animal" asp-action="SearchByName" method="get">
	<div class="input-area">
		<div class="input-and-button">
			<div>
				@if (ViewBag.SearchValue != null)
				{
					<input class="input-name" value="@ViewBag.SearchValue" placeholder="Search by name.." name ="searchValue" />

					<br />
				}
				else
				{
					<input class="input-name" placeholder="Search by name.." name="searchValue" />

					<br />
				}
			</div>
			<button class="search-button" type="submit">
				Search
			</button>
		</div>
	</div>
</form>

@if (Model.Count == 0)
{
	<div>
		<h1 class="no-profiles-heading">No profiles</h1>
		<p class="no-profiles-line">Currently, there are no profiles.</p>
	</div>
}

@foreach (var item in Model)
{
	<form asp-controller="Animal" asp-action="Details" asp-route-id="@item.Id" method="get">
		<div class="feed-container">
			<div class="container-content">
				<div class="text-side">
					<h1 class="animal-name">
						@item.Name
					</h1>
					<h2 class="animal-age-and-breed">
						@item.Age, @item.Breed
					</h2>
					<div class="animal-description-container">
						@if (item.Description?.Length > 200)
						{
							<p class="animal-description">
								@item.Description.Substring(0, 200)..
							</p>
						}
						else
						{
							<p class="animal-description">
								@item.Description
							</p>
						}
					</div>
					<button class="more-button" type="submit">More..</button>
				</div>
				<div class="image-side">
					<img class="animal-image" src="@item.ImageUrl">

					@if (User.IsInRole("Admin"))
					{
						<div class="icons">
							<a class="trash-icon" asp-route-id="@item.Id" asp-action="Delete">
								<i class="fas fa-trash-o" style="font-size:24px"></i>
							</a>

							<a class="edit-icon" asp-route-id="@item.Id" asp-action="Edit">
								<i class="fas fa-edit" style="font-size:24px"></i>
							</a>
						</div>
					}
				</div>
			</div>
		</div>

	</form>
}

@if (ViewBag.SearchValue is not null)
{
	<br />
	<div class="pagination-area">
		<p class="page-count-line">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

		@Html.PagedListPager(Model, (page) => Url.Action("SearchByName",
	new { page, searchValue = ViewBag.SearchValue }) )
	</div>
}
else
{
	<br />
	<div class="pagination-area">
		<p class="page-count-line">Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>

		@Html.PagedListPager(Model, (page) => Url.Action("Feed",
	new { page }))
	</div>
}

